<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="task.repository.dao.not_mybatis.MyWorkorderInfoMapper">
    <resultMap id="BaseResultMapCtt" type="task.repository.model.model_show.WorkorderInfoShow">
        <id column="PKID" jdbcType="VARCHAR" property="pkid" />
        <result column="CTT_TYPE" jdbcType="VARCHAR" property="cttType" />
        <result column="PARENT_PKID" jdbcType="VARCHAR" property="parentPkid" />
        <result column="ID" jdbcType="VARCHAR" property="id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="SIGN_DATE" jdbcType="VARCHAR" property="signDate" />
        <result column="SIGN_PART_A" jdbcType="VARCHAR" property="signPartA" />
        <result column="SIGN_PART_A_NAME" jdbcType="VARCHAR" property="signPartAName" />
        <result column="SIGN_PART_B" jdbcType="VARCHAR" property="signPartB" />
        <result column="SIGN_PART_B_NAME" jdbcType="VARCHAR" property="signPartBName" />
        <result column="CTT_START_DATE" jdbcType="VARCHAR" property="cttStartDate" />
        <result column="CTT_END_DATE" jdbcType="VARCHAR" property="cttEndDate" />
        <result column="ATTACHMENT" jdbcType="VARCHAR" property="attachment" />
        <result column="REMARK" jdbcType="VARCHAR" property="remark" />
        <result column="FLOW_STATUS" jdbcType="VARCHAR" property="flowStatus" />
        <result column="STR_FLOW_STATUS_BEGIN" jdbcType="VARCHAR" property="strStatusFlagBegin" />
        <result column="STR_FLOW_STATUS_END" jdbcType="VARCHAR" property="strStatusFlagEnd" />
        <result column="FLOW_STATUS_REASON" jdbcType="VARCHAR" property="flowStatusReason"/>
        <result column="ARCHIVED_FLAG" jdbcType="VARCHAR" property="archivedFlag"/>
        <result column="CREATED_BY" jdbcType="VARCHAR" property="createdBy" />
        <result column="CREATED_TIME" jdbcType="VARCHAR" property="createdTime" />
        <result column="LAST_UPD_BY" jdbcType="VARCHAR" property="lastUpdBy" />
        <result column="LAST_UPD_TIME" jdbcType="VARCHAR" property="lastUpdTime" />
        <result column="SPARE_FIELD" jdbcType="VARCHAR" property="spareField" />
        <result column="REC_VERSION" jdbcType="DECIMAL" property="recVersion" />
        <result column="TYPE" jdbcType="CHAR" property="type" />
    </resultMap>
</mapper>